.navUp-content{
    background-color: rgb(32, 16, 6);
    width: 100%;
    padding: 10px 20px;
    color: white;
    position: fixed; 
    z-index: 1002;
     overflow: visible;
     position: relative;
}
.navUp-content-btn{
    background-color: rgb(102, 187, 17);
    color: white;
    border-radius: 8px;
    padding: 5px 18px;
    cursor: pointer  !important; 
}

.nav-content{
    align-items: center;
    padding: 80px 24px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2001;
}

.nav-content:focus {
  background: #e0e0e0;  
}

.nav-icons{
  display: flex;
  gap: 20px;
  backdrop-filter: blur(10px);
  padding: 13px 20px;
  border-radius: 15px;
  background: rgba(51, 44, 44, 0.705);
  color: white;
}

.nav-logo {
  backdrop-filter: blur(10px);
  padding: 11px 40px;
  border-radius: 15px;
  background: rgba(51, 44, 44, 0.705);
  font-weight: bold;
  color: white;
}


.menu-links a{
  display: block;
  text-decoration: none;
  color: white;
}

.menu-item-lg{
  position: relative;
}

.menu-item-lg a:hover{
  color: orangered;
  transition: 0.8s;
}

.custom-dropdown{
  position: absolute;
  top: 200%;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  width: 250px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s;
}

.menu-item-lg:hover .custom-dropdown{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.custom-dropdown a {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid rgb(217, 203, 203);
  color: black;
  font-size: 14px;
  position: relative;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

.custom-dropdown a::before {
  content: "→";
  position: absolute;
  left: -10px;
  opacity: 0;
  transition: 0.3s ease;
}

.custom-dropdown a:hover{
  padding-left: 20px;
}

.custom-dropdown a:hover::before {
  opacity: 1;
  transform: translateX(5px);
}


.custom-dropdown a:last-child{
  border-bottom: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;              
  justify-content: center;    
  align-items: center;   
  z-index: 2000;  
}

.menu-box{
    text-align: center;
    background-color: white;
    padding: 5px 5px 30px;
    margin: 20px;
    margin-top: 0px;
    width: 90vw;
    border-radius: 10px;
    border: 1px solid white ;
}

.menu-item{
    display: block;
    display: flex;
    justify-content: space-between;
    margin: 22px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.menu-item:hover{
  color: orangered;
  transition: 0.3s;
}

.menu-btn{
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

.menu-btn-arrow{
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    padding: 5px 8px;
    color: black;
    z-index: 1;
}


.frontCover-content {
  height: 130vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  overflow: hidden;
}


.frontCover-head {
  position: absolute;
  top: 25%;
  left: 30px;
  width: 90%;
  z-index: 2;
}

.frontCover-head h1 {
  font-size: 55px;
  line-height: 1.1;
  font-weight: 500;
  max-width: 600px;
}


.frontCover-bottom {
  position: absolute;
  bottom: 250px;
  display: flex;
  gap: 50px;
  right: 5%;
  align-items: end;
  z-index: 2;
}


.frontCover-Reelcard {
  position: relative;
  background: white;
  color: black;
  padding: 2px;
  border-radius: 20px;
  width: 150px;
  height: 100px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.reelIcons {
  position: absolute;
  top: -50px;
  left: 10px;
  display: flex;
}

.reelIcons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-left: -10px;
  transition: 0.3s;
}

.reelIcons img:first-child {
  margin-left: 0;
}



.bi-play-fill {
  background: #ff4d00;
  color: white;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 22px;
  display: inline-block;
  margin-top: 20px;
}

.frontCover-Reelcard p {
  margin-top: 10px;
  font-weight: 500;
}


.frontCover-bottom-content {
  max-width: 400px;
  text-align: end;
}

.frontCover-bottom-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.frontCover-bottom-content a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.frontCover-bottom-content a:hover {
  text-decoration: underline;
}


.frontCover-bottom-links {
  position: absolute;
  right: -8%;
  bottom: 50px;
  width: 100%;  
  max-width: 100%;     
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 80px; 
  margin:10px 30px;          
  z-index: 2;
  font-weight: 800;
  font-size: 16px;
}

.frontCover-bottom-links a{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding-right: 150px;
  border: 1px solid white;
  padding: 20px 90px 20px;
  border-bottom: none;
  position: relative;
  transition: 0.3s;
  z-index: 10;
}

.frontCover-bottom-links a::before{
  content:"";
  left: 15px;
  padding-left: 45px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.frontCover-bottom-links a:hover::before{
  content:"→ ";
  opacity: 1;
  transform: translateX(10px);
}

.frontCover-bottom-links span {
  display: inline-block;
  transition: transform 0.3s;
}

.frontCover-bottom-links span:hover  {
  transform: translateX(10px);
}

.Aboutus-Content{
  align-items: center;
  margin: 25px;
}

.Aboutus-text{
  padding: 20px;
}

.Aboutus-numbers{
  font-weight: 600;
  font-size: 60px;
  padding: 25px;
  border-bottom: 1px solid rgb(181, 177, 177);
}

.Aboutus-bold{
  font-weight: 400;
  font-size: 15px;
}

.Aboutus-light{
  font-weight: 250;
  font-size: 13px;
}

.ContactAtHome-content{
  width: 480px;
  height: 80%;
  position: absolute;
  z-index: 9999;
  background-color: white;
  top: 13%;
  right: 15%;
  border-radius: 12px;
  padding: 25px;
  transition: 1s;
  gap: 10px;
  transform: translateZ(10px);
}

.x-icon{
  padding-left: 90%;
  font-size: 25px;
  color: orangered;
  cursor: pointer;
}

.ContactAtHome-card1{
  padding: 5px 10px;
}

.ContactAtHome-card2{
  padding: 10px;
}
.ContactAtHome-card2 a{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgb(217, 203, 203);
  padding: 30px 0px;
}

.ContactAtHome-card2 a:hover{
  color: orangered;
  border-color: 1px solid orangered;
  transition: 0.8s;
}

.searchCard-content{
  position: absolute;
  top: 13%;
  right: 21%;
  z-index: 2001;
  background: white;
  padding: 0px;
  width: 340px;
  border-radius: 10px;
  border: 1px solid orangered;
}

.searchCard-content input{
 padding: 17px 40px 20px 0px;
 border: none;
 caret-color: black;
}

.searchCard-content input:focus {
  outline: none;
  border: none;
}

.searchCard-content i{
  padding: 10px 14px;
  color: orangered;
  font-size: 24px;
  margin: 3px;
  cursor: pointer;
}

.HomePageImage1{
  text-align: center;
  position: relative;
}

.HomePageImage1 img{
  width: 70vw;
  height: 80vh;
  object-fit: cover;
}

.text-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HomePageImage1 h1{
  font-size: 70px;
  color: black;
  opacity: 0.3;
}

.HomePageContent1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
}

.about-section {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: orangered;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}


.circle-text {
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: white;

  animation: rotate 10s linear infinite;
}


.inner-circle {
  width: 100px;
  height: 100px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inner-circle i{
  background-color: black;
  padding: 0px 45px 80px 10px;
  font-size: 40px;
}

.circle-image{
  position: absolute;
  top: 12%;
  right: -30px;
}

.circle-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 15%;
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.HomePageContent2{
  padding: 0px 50px
}

.HomePageContent3{
  margin: 0 auto; 
  padding: 0;
  max-width: 1200px;
}

.Homepage-cards{
  height: 100%;
  padding: 30px 20px 40px 30px;
  max-width: 280px;
  margin: 0 auto;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

